/*  your css code here. If applicable */
.main {
	height: 250px;
	width: 250px;
	border: 2px solid black;
	background-color: lightskyblue;
}
.main .sub {
	padding-left: 70px;
	padding-top: 100px;
	color: purple;
	font-size:22px
	
}